= form_errors(hook)

.form-group
  = form.label :url, 'URL', class: 'label-light'
  = form.text_field :url, class: 'form-control'
.form-group
  = form.label :token, 'Secret Token', class: 'label-light'
  = form.text_field :token, class: 'form-control'
  %p.help-block
    Use this token to validate received payloads
.form-group
  = form.label :url, '触发器', class: 'label-light'
  %ul.list-unstyled
    %li
      .help-block
        系统钩子将在创建项目和增加 SSH 密钥等事件发生时触发。
        你可以额外开启推送等事件的触发。

    .prepend-top-default
      = form.check_box :repository_update_events, class: 'pull-left'
      .prepend-left-20
        = form.label :repository_update_events, class: 'list-label' do
          %strong 版本库更新事件
        %p.light
          此链接将在版本库每次更新时触发
    %li
      = form.check_box :push_events, class: 'pull-left'
      .prepend-left-20
        = form.label :push_events, class: 'list-label' do
          %strong 推送事件
        %p.light
          此链接将在推送新版本到版本库时触发
    %li
      = form.check_box :tag_push_events, class: 'pull-left'
      .prepend-left-20
        = form.label :tag_push_events, class: 'list-label' do
          %strong 标签推送事件
        %p.light
          此链接将在推送新标签到版本仓库时触发
    %li
      = form.check_box :merge_requests_events, class: 'pull-left'
      .prepend-left-20
        = form.label :merge_requests_events, class: 'list-label' do
          %strong Merge request events
        %p.light
          This URL will be triggered when a merge request is created/updated/merged
.form-group
  = form.label :enable_ssl_verification, 'SSL verification', class: 'label-light checkbox'
  .checkbox
    = form.label :enable_ssl_verification do
      = form.check_box :enable_ssl_verification
      %strong 启用 SSL 证书验证
